<style>
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8F8FF;
    text-align: center;
}
</style>

        <footer>
            <small>NTalk - Agenda de contatos</small>
        </footer>


    </body>
</html>